<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Iniciar Sesion</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>

<body>
<nav class="green darken-2" role="navigation">
    <div class="center nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">PROmet</a>
    </div>
</nav>

<section>
    <div class="section container scrollspy" id="contact">
        <div class="row">
            <form class="col s12" action="" th:action="@{/login}" method="post">
                <div>
                    <br>
                    <h1 class="header center">Bienvenido a PROmet</h1>

                    <div class="row center">
                        <h5 class="header col s12 light">Porfavor ingrese</h5>
                    </div>

                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input id="correo" type="text" value="" name="username" placeholder="Username" class="validate">
                        <label for="correo">Correo Electrónico</label>

                    </div>
                </div>
                <div class="row ${error != null ? 'has-error' : ''}">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock_outline</i>
                        <input id="contrasena" type="password" value="" name="password" placeholder="Password" class="validate">
                        <label for="contrasena">Contraseña</label>
                    </div>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="input-field col s13 ">
                            <input type="submit" value="Ingresar" class="btn light-dark green ">
                        </div>
                        <div class="input-field col s13">
                            <a class="btn grey" id="cancelar" onclick="window.history.back();">Cancelar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>
</body>
</html>